<%= render partial: "layouts/nav", locals: { user: @user } %>
<%= render partial: "layouts/flash_message" %>
<%= render partial: "layouts/object_errors", locals: { object: @user } %>
<div class="container mx-auto">
<div class="text-center">
  <h2><%= link_to 'Create a New Team', new_team_path %> <span class="badge badge-secondary"><i class="fas fa-plus"></i></span></h2>
  </div>
  <div class="row">
    <% @teams.each do |t| %>
      <div class="col-lg-3">
        <div class="card" style="width: 18rem;">
          <img src="#" id="image-<%=t.id%>" class="card-img-top" alt="...">
          <figcaption class="figure-caption text-center" id="creator-<%=t.id%>"></figcaption>
          <div class="card-body">
            <h5 class="card-title" id="title-<%=t.id%>"></h5>
            <p class="card-text" id="desc-<%=t.id%>"></p>
            <p class="card-text" id="goals-<%=t.id%>"></p>
            <p class="card-text" id="slack-<%=t.id%>"></p>
            <p id="button-<%=t.id%>"></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>