<%= render partial: "layouts/nav", locals: { user: @user } %>
<%= render partial: "layouts/flash_error" %>
<%= render partial: "layouts/object_errors", locals: { object: @user } %>
<h2><%= @team.name %></h2>

<img src="<%= @team.avatar_url %>" alt="Team Logo" class="img-fluid" style="max-width: 8%; height: auto;">
<p><%= @team.avatar_url %></p>
<p><%= @team.repo_url %></p>
<p><%= link_to 'Edit this team', edit_team_path(@team) %></p>
<p><%= "Created by:  #{creator_name(@team.creator_id)}" %></p>

<h4>Comments:</h4>
<% @comments.each do |c| %>
  <br>
  <%= c.content %>
  <br>
  <%= "Posted by: #{username(c.user_id)} on #{formatted_datetime(c.created_at)}"%>
<% end %>