<%= render partial: "layouts/nav", locals: { user: @user } %>
<h2>Welcome, <%= @user.username %></h2>
<%= render partial: "layouts/flash_error" %>
<%= render partial: "layouts/object_errors", locals: { object: @user } %>

<img src="<%= @user.avatar_url %>" alt="User Logo" class="img-fluid" style="max-width: 8%; height: auto;">
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p><%= "Name: #{@user.real_name}" if !@user.real_name.nil? %></p>
<p><%= "Company: #{@user.company}" if !@user.company.nil? %></p>
<p><%= "Bio: #{@user.bio}" if !@user.bio.nil? %></p>
<p><%= link_to 'GitHub Profile', @user.github_profile_url if !@user.bio.nil? %></p>
<h4>Your technologies:</h4>
<p><%= link_to 'Add a technology to your profile', user_technologies_path(@user) %></p>
<% @user.user_technologies.each do |t| %>
  <p>
    <%= "#{grab_technology_name(t.technology_id)}"%> - <%= "Skill level: #{t.skill_level}" %> <%= link_to 'Delete', user_technologies_path(technology_id: t.id), method: :delete %>
  </p>
<% end %>
<br>
<br>
<p><%= link_to 'Edit profile', edit_user_path(@user) %></p>
<p><%= link_to 'Edit your skillset', user_technologies_path(@user) %></p>